Easi365/ClientLib/Web References/SyncLogService/LoggingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.sinoserve.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.sinoserve.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sinoserve.com/">
      <s:element name="AddLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logs" type="tns:ArrayOfLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Log" nillable="true" type="tns:Log" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Log">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ComputerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserAction" type="tns:UserAction" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="UserAction">
        <s:restriction base="s:string">
          <s:enumeration value="Upload" />
          <s:enumeration value="Download" />
          <s:enumeration value="Delete" />
          <s:enumeration value="Update" />
          <s:enumeration value="Share" />
          <s:enumeration value="Send" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddLogResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllLogs">
        <s:complexType />
      </s:element>
      <s:element name="GetAllLogsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllLogsResult" type="tns:ArrayOfLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddLogSoapIn">
    <wsdl:part name="parameters" element="tns:AddLog" />
  </wsdl:message>
  <wsdl:message name="AddLogSoapOut">
    <wsdl:part name="parameters" element="tns:AddLogResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllLogsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllLogs" />
  </wsdl:message>
  <wsdl:message name="GetAllLogsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllLogsResponse" />
  </wsdl:message>
  <wsdl:portType name="LoggingServiceSoap">
    <wsdl:operation name="AddLog">
      <wsdl:input message="tns:AddLogSoapIn" />
      <wsdl:output message="tns:AddLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLogs">
      <wsdl:input message="tns:GetAllLogsSoapIn" />
      <wsdl:output message="tns:GetAllLogsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoggingServiceSoap" type="tns:LoggingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddLog">
      <soap:operation soapAction="http://www.sinoserve.com/AddLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLogs">
      <soap:operation soapAction="http://www.sinoserve.com/GetAllLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoggingServiceSoap12" type="tns:LoggingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddLog">
      <soap12:operation soapAction="http://www.sinoserve.com/AddLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLogs">
      <soap12:operation soapAction="http://www.sinoserve.com/GetAllLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoggingService">
    <wsdl:port name="LoggingServiceSoap" binding="tns:LoggingServiceSoap">
      <soap:address location="http://192.168.0.118:10240/Service/LoggingService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoggingServiceSoap12" binding="tns:LoggingServiceSoap12">
      <soap12:address location="http://192.168.0.118:10240/Service/LoggingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>